{% load static%}

<div class="bg-purple">
    <div class="container py-5">
      <div class="row pt-5 ">
        <div class="col-6 col-md-6 col-lg-3 mb-5">
          <h3 class="font-weight-bold mb-4">Interconcept Microfinance bank</h3>
          <p class="semi-bold"> Created to make lives easier. </p>
          <div class="social-icons mt-4">
             <a href="#"><i class="lni lni-facebook-filled"></i></a> 
             <a href="#"><i class="lni lni-twitter-filled"></i></a>
             <a href="#"><i class="lni lni-instagram-filled"></i></a>
            <a href="#"><i class="lni lni-github-original"></i></a>
           </div>
        </div>
        <div class="  col-6 col-md-6 col-lg-3 mb-5">
          <h6 class="mb-4 font-weight-bold">Services</h6>
          <ul class="list-unstyled bb m-0">
            <li><a href="">Loan</a></li>
            <li><a href="">Investment</a></li> 
            <li><a href="">Real Estate</a></li>
            <li><a href="">Target Savings</a></li>
          </ul>
        </div>
        <div class=" col-6 col-md-6 col-lg-3 mb-5">
          <h6 class="mb-4 font-weight-bold">Company</h6>
          <ul class="list-unstyled bb m-0">
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Investors</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-6 col-lg-3 mb-5  ">
          <h6 class="mb-4 font-weight-bold">Privacy & Terms</h6>
          <ul class="list-unstyled bb m-0">
            <li><a href="">Community</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Copyright</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr style="color: #fff; height: 3px;">
    <div class="py-3 ">
      <div class="container">
        <p class="m-0 text-center small medium-500 bb">Copyright &copy Interconcept Microfinance bank </a></p>
      </div>
    </div>
    </div>
    
  </div>