{% load static%}

<footer>
    <div class="sect">
    <div class="foot_sec1">
        <div class="logo">
            <div class="circle"></div>
            <p>
                Interconcept<br /> Microfinance bank
            </p>
        </div>
        <p id="par">
            At Interconcepts Microfinance, we offer financial advice to loan beneficiaries and also counsel them on Loan repayment processes before helping them in accessing the loan with little colateral. Come and do business with us and be financially stable.
        </p>
    </div>
    <div class="foot_sec2">
        <ul class="contacts">
            <li class="socials">Twitter</li>
            <li class="socials">Facebook</li>
            <li class="socials">Instagram</li>
            <li class="connect">About</li>
            <li class="connect">Service</li>
            <li class="connect">Blog</li>
        </ul>
    </div>
</div>

    <hr>
    <div class="copyright">
        Copyright of Interconcept bank 2021
    </div>
</footer>