{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    {% include 'partials/_navbar.html' %}
    {%block content%}
    <body>
        <section id="services" class="services">
          <div class="container">
        
            <div class="section-title">
            <h2 class="mb-4">Interconcept Global Resources</h2>
            <p class="lead mb-3">provides a wide range of investment management and private wealth management services. </p>
            <p class="text-small mb-3" style="text-align:justify">Our client relationship is built on personal trust,
              open communication and companywide integrity. We serve as registered funds/portfolio managers to individuals and corporate organizations. As a company, Interconcepts Global Resources has a customer base
              of about 6000 with her head office at Asaba, Delta State, a regional office in Lagos Nigeria and three other branches spread across the Southern part of Nigeria.
              We provide our clients with a broad range of financial products and services, including Daily Savings, Loans, Investments and currency Exchange. We are also invested in Agriculture as well as Real Estate.</p>
            <p class="text-small mb-3" style="text-align:justify" >We provide our clients with a broad range of financial products and services, including Daily Savings,
               Loans, Investments and currency Exchange. We are also invested in Agriculture as well as Real Estate.</p><a href="{% url 'services' %}" class="btn btn-a">Read More</a><br>
            <h2 class="mb-4 pt-2">Our Vision</h2>
            <p class="text-small mb-3" style="text-align: justify;">
              To become a world class value added investor in small, medium and large scale enterprise thereby facilitating wealth generation, job creation and economic welfare of the society at large through our extra ordinary customer service delivery system.</p>
            <h2 class="mb-4">Our Mission</h2>
            <p class="text-small mb-3" style="text-align: justify;">To greatly affect the lives of individuals and corporate organizations through our extra ordinary advanced marketing strategies, thereby helping them achieve their individual and corporate goals respectively.</p>

          </div>
          </div>
        </section>
      
        <section id="services" class="services">
          <div class="container">
        
            <div class="section-title ">
              <h2 class="mb-4">What we do</h2>
              <div class="row">
                <div class="col-lg-4 mb-2 mb-lg-0"><a href="#" class="d-block"><img  src="{% static 'img/Finance professional.png'%}" alt="" class="img-fluid mb-2"></a>
                  <h3 class="h4 mb-3"><a href="#" class="text-dark">Loans and Investment</a></h3>
                  <p class="text-small mb-3" style="text-align: justify;">Our loans provide funding for individuals.
                    It is a timed loan obtainable at a 5% monthly interest rate</p><a href="{% url 'services' %}" class="btn btn-a">Continue Reading</a>
                </div>
                <div class="col-lg-4 mb-2 mb-lg-0"><a href="#" class="d-block"><img src="{% static 'img/undraw_buy_house_560d.png'%}" alt="" class="img-fluid mb-2"></a>
                  <h3 class="h4 mb-3"><a href="#" class="text-dark">Real Estate</a></h3>
                  <p class="text-small mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. In accusantium sequi corporis, quam non at. Accusamus eum corporis culpa ex totam facilis, nam qui eaque hic aliquam quas itaque quisquam.</p><a href="{% url 'services' %}" class="btn btn-a">Continue Reading</a>
                </div>
                <div class="col-lg-4"><a href="#" class="d-block"><img src="{% static 'img/undraw_Finance_re_gnv2.png'%}" alt="" class="img-fluid mb-2"></a>
                  <h3 class="h4 mb-3"><a href="#" class="text-dark">Online Saving</a></h3>
                  <p class="text-small mb-3 ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique a numquam reiciendis rem recusandae amet exercitationem alias. Ducimus, labore provident iste suscipit at autem et possimus qui incidunt hic quasi.</p><a href="{% url 'services'%}" class="btn btn-a">Continue Reading</a>
                  <br>
                </div>
              </div>
              
            </div>
          </div>
        </section>
      
          <!-- =======Team Section ======= -->
          <section id="services" class="services">
            <div class="container">
          
                <div class="section-title ">
                  <h2 class="mb-4">Meet Our Team</h2>
                  <div class="row">
                    {% if management%}
                    {%for managements in management%}
                    <div class="col-md-4">
                      <div class="card-box-d">
                        <div class="card-img-d">
                          <img src="{{ managements.photo.url }}" alt="Executive's Picture" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                          <div class="card-header-d">
                            <div class="card-title-d align-self-center">
                              <h3 class="title-d">
                                <a href="{{managements.linkedn_link.url}}" class="link-two">{{managements.name}}
                                  <br></a>
                              </h3>
                            </div>
                          </div>
                          <div class="card-body-d">
                            <p class="content-d color-text-a">
                            {{managements.title}}
                            </p>
                            <div class="info-agents color-a">
                              <p>
                                <strong>Email: </strong> {{managements.email}}
                              </p>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  {% else %}
                  <div class="col-md-12">
                    <p> Oops. We are working on Populating This Page.
                      Check Back Shortly. Thanks!
                    </p>
                  </div>
                  {% endif %}

                  
                  </div>
                </div>
      
              </div>
            </section>
            <!-- End About Section-->
      
            <!-- ======= location Section ======= -->
            <section id="contact" class="contact">
              <div class="container">
      
                  <div class="section-title">
                      <h2>Our Location</h2>
                      <p>To get in touch with us</p>
                  </div>
      
                  <div class="row" >
      
                      <div class="col-lg-4 ">
                          <div class="info">
                              <div class="address">
                                  <i style="color: #6832D4;" class="fa fa-address-card"></i>
                                  <h4>Location:</h4>
                                  <p><strong>Asaba</strong> Head Office</p>
                                  <p>Last Floor, Plato Plaza, DBS Road, Asaba, Delta State</p>
                                  <p><strong>Lagos</strong> Regional Office</p>
                                  <p>Taiyeolu Towers, 2a Olaide Tomori Street, Ikeja, Lagos</p>

                              </div>
      
                              <div class="email">
                                  <i style="color: #6832D4;" class="fa fa-envelope"></i>
                                  <h4>Email:</h4>
                                  <p>info@interconceptgroup.com</p>
                              </div>
      
                              <div class="phone">
                                  <i style="color: #6832D4;" class="fa fa-phone"></i>
                                  <h4>Call:</h4>
                                  <p>+2348027615573, +2349065457089</p>
                              </div>
                             
                          </div>
      
                      </div>
      
                      <div class="col-lg-8">
                          <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.756881530364!2d36.84266951410125!3d-1.3216552360369498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11bddb88c3b5%3A0x30b0365e56bfd05b!2sRedeemed%20Gospel%20Church%2C%20Liberty%20Christian%20Centre!5e0!3m2!1sen!2sng!4v1626265738352!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                          </div>
                      </div>
      
                  </div>
      
              </div>
          </section>
          {%endblock%}
          {%include 'partials/_footer.html'%}               
</body>
</html>
