{% extends 'base.html'%}
{% load static %}
{%block content%}
<body>
    <div class="container mt-5 pt-5" id="medium">
        <div class="jumbotron text-center">
            <div id="logo"></div>
            <h1 class="display-4 mb-3">Blog Posts</h1>
            <a class="btn btn-outline-primary btn-lg" href="https://medium.com/@interconceptgroups" target="_blank" role="button">View all posts</a>
        </div>
        <div class="row" id="jsonContent">
        </div>
    </div>
    <script src="{% static 'js/blog.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
</body>
{%endblock%}