{% extends 'base.html'%}
{%load static%}
{%block content%}
<section class="section blog" id="blog">
    <div class="container">
      <header class="section-heading">
        <h2>
          From The Blog
        </h2>
        <span>Awesome articles from the blog</span>
      </header>
      <div class="section-content" id="blogContent">
        <div class="row" id="jsonContent"></div>
      </div>
      <div class="text-center">
        <a class="btn btn-dark" href="//medium.jasonmdesign.com" id="loadBlogPosts">View All<span class="fa fa-angle-double-right"></span></a>
      </div>
    </div>
  </section>
{%endblock%}