{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="hero">
    <div class="hero_text">
        <h1>Created to make
            <br/> lives easier
        </h1>
        <p>
            Meeting Needs, Creating Values. Is what makes us <br/> standout.Get Started with Interconcept <br/> Microfinance bank today
        </p>
        <button class="btn cta">Contact us</button>
    </div>
    <img src="{% static 'img/Group_8.png'%}" alt="">
</section>
<section class="description">
    <div class="image">
        <img src="{%static 'img/mundo_1.png' %}" alt="Mundo 1">
    </div>
    <div class="description_text">
        <h2>Financial Service
            <br/> Made Easy</h2>
        <p>At Interconcepts Microfinance, we offer financial advice to loan beneficiaries and also counsel them on Loan repayment processes before helping them in accessing the loan with little colateral. Come and do business with us and be financially
            stable.
        </p>
    </div>
</section>

<section class="services">
    <h3>Our Services</h3>
    <div class="service-list">
        <div class="service loans">
            <div class="service-image">
                <span class="service-text">Loans</span>
            </div>
            <p class="service-description">
                At Interconcepts Microfinance, we offer financial advice to loan beneficiaries and also counsel them on Loan repayment processes before
            </p>
            <a class="service-cta">
                <span>Read more</span>
                <div class="cta-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.33334 8H12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 3.33337L12.6667 8.00004L8 12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </a>
        </div>
        <div class="service real-estate">
            <div class="service-image">
                <span class="service-text">
                    Real estate
                </span>
            </div>
            <p class="service-description">
                At Interconcepts Microfinance, we offer financial advice to loan beneficiaries and also counsel them on Loan repayment processes before
            </p>
            <a class="service-cta">
                Read more
                <div class="cta-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.33334 8H12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 3.33337L12.6667 8.00004L8 12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </a>
        </div>
        <div class="service savings">
            <div class="service-image">
                <span class="service-text">
                    Target Savings
                </span>
            </div>
            <p class="service-description">
                At Interconcepts Microfinance, we offer financial advice to loan beneficiaries and also counsel them on Loan repayment processes before
            </p>
            <a class="service-cta">
                Read more
                <div class="cta-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.33334 8H12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 3.33337L12.6667 8.00004L8 12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </a>
        </div>
        <div class="service investment">
            <div class="service-image">
                <span class="service-text">
                    Investment
                </span>
            </div>
            <p class="service-description">
                At Interconcepts Microfinance, we offer financial advice to loan beneficiaries and also counsel them on Loan repayment processes before
            </p>
            <a class="service-cta">
                Read more
                <div class="cta-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.33334 8H12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 3.33337L12.6667 8.00004L8 12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="__testimonial">
    <div class="testimonial_head section_head">
        <h3>Testimonials</h3>
        <p>
            Hear from most of our customer and get candid feedback from real user
        </p>
    </div>
    <div class="testimonials_box">
        <div class="testimonials">

    </div>
    <ul class="controls">
            
    </ul>
    </div>
</section>

<section class="happenings">
    <div class="section_head">
        <h3>Happenings</h3>
        <p>
            Hear from most of our customer and get candid feedback from real user
        </p>
    </div>

    <div class="service-list">
        <div class="service loans">
            <div class="service-image">
                <span class="service-text">Loans</span>
            </div>
            <p class="service-description">
                At Interconcepts Microfinance, we offer financial advice to loan beneficiaries and also counsel them on Loan repayment processes before
            </p>
            <a class="service-cta">
                <span>Read more</span>
                <div class="cta-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.33334 8H12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 3.33337L12.6667 8.00004L8 12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </a>
        </div>
        <div class="service real-estate">
            <div class="service-image">
                <span class="service-text">
                    Real estate
                </span>
            </div>
            <p class="service-description">
                At Interconcepts Microfinance, we offer financial advice to loan beneficiaries and also counsel them on Loan repayment processes before
            </p>
            <a class="service-cta">
                Read more
                <div class="cta-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.33334 8H12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 3.33337L12.6667 8.00004L8 12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </a>
        </div>
        <div class="service real-estate">
            <div class="service-image">
                <span class="service-text">
                    Real estate
                </span>
            </div>
            <p class="service-description">
                At Interconcepts Microfinance, we offer financial advice to loan beneficiaries and also counsel them on Loan repayment processes before
            </p>
            <a class="service-cta">
                Read more
                <div class="cta-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.33334 8H12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 3.33337L12.6667 8.00004L8 12.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                </div>
            </a>
        </div>
    </div>
</section>


{%endblock%}