{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css'%}" rel="stylesheet">

    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <title>Service</title>
</head>
<body>
    
     <!-- Header -->

  <div class="position-relative header ">

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container mb-lg-4 py-2"> <a class="navbar-brand font-weight-bold " href="index.html">Interconcept Microfinance bank</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item "> 
                <a class="nav-link" href="{% url 'index' %}">Home </a> </li>
              <li class="nav-item"> 
                <a class="nav-link" href="{% url 'about'%}">About Us</a> </li>
              <li class="nav-item"> 
                <a class="nav-link active" href="{% url 'services' %}">Service</a> </li>
              <li class="nav-item"> 
                <a class="nav-link" href="#">Blog</a> </li>
            </ul>
            <div class="ml-lg-5"><a class="btn btn-a" href="{% url 'contact' %}">Contact Us</a> </div>
          </div>
        </div>
      </nav>
  
  </div>



<!-- ======= Services Section ======= -->
  <div style="padding-top: 100px ;" class="container">
    <div class="row">
        <div class="section-title ">
            <h2>Our Services</h2>
            
        </div>
        <div class="mb-5">
            <p class="lead ">Below are the services we render from Loans to Real Estate, we ensure quality assurance in all our job and monitor all project from beginning to completion</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-5">
            <img src="{% static 'img/loans.png' %}" class="img-fluid mb-5">
            <h4 class="title"><a href="">Loan & Business lending</a></h4>
            <p class="description" style="text-align:justify" >Our loans provide funding for individuals.
                It is a timed loan obtainable at a 5% monthly interest rate.
                Our loan product is aimed at providing the funds for healthcare, educational purposes, automobile, salary loans
                or personal home loans. We have come to the aid of many Nigerians and clients, while displaying a level of
                understanding and empathy not usually found in the corporate world. Our packages though simple,
                sets up the client to be independent and liquid enough not to seek further loans in the near future.</p>
        </div>
        <div class="col-6 mb-5">
            <img src="{% static 'img/real_estate.png' %}" class="img-fluid mb-4">
            <h4 class="title"><a href="">Real estate management</a></h4>
            <p class="description">The company offers her services to individuals, corporate organizations and institutions.
               We serve as realtors to our clients; we buy, sell, search, process C of O and property consultancy. We are also involved in facility and project management and development.</p>
        </div>
        <div class="col-6 mb-4" >
            <img src="{% static 'img/investment.png'%}" class="img-fluid mb-5">
            <h4 class="title"><a href="">Investment</a></h4>
            <p class="description" style="text-align:justify">We offer rates on a tri-annual and biannual basis ranging from 25.3% - 39.5% spread over 6 packages. Our investments are insured up to the tune of 1 billion naira with
            Consolidated Hallmark Insurance Plc</p>
        </div>
        <div class="col-6 mb-5" >
            <img src="{% static 'img/target_saving.png' %}" class="img-fluid mb-5">
            <h4 class="title"><a href="">Daily & Targeted Savings</a></h4>
            <p class="description">This product enables the client to save on daily basis a certain amount for the number of days in the month.
              If the customer is able to save for 3 consecutive months without withdrawing, he/she will not be charged.
              It is a unique savings product designed for customers who engage in daily income generating activities.
              It is a way of making our client’s work count so they don’t live out of their pockets.</p>
        </div>
    </div>

  </div>
</section>
<!-- End Services Section -->

<section id="services" class="services m-5">
    <div class="container">
        <div class="row">
            <div  class="col-lg-6 p-4">

              <div class="section-title">
                  <h2 ><i style="color:  #6832D4;" class="fa fa-binoculars "></i> Interconcepts' Vision &amp; Mission</h2>
  
              </div>
              <div class="mb-3">
                  <p style="text-align:  justify;">To become a world class value added investor in small, medium and large scale enterprise thereby facilitating wealth generatio, job creation and economic welfare of the society at large through our extra ordinary customer service delivery system</p>
              </div>
              <div class="mb-3">
                  <p style="text-align:  justify;">To greatly affect the lives of individuals and corporate organizations through our extra ordinary advanvced marketing strategies, thereby helping them achieve
                  their individual and coroprate goals respectively.</p>
  
              </div>

            </div>
            <div class="col-lg-6 p-4">

              <div class=" section-title">
                  <h2 ><i  style="color: #6832D4;" class="fa fa-tasks"></i> Why Interconcepts Global Resources?</h2>
      
              </div>
              <div class="mb-3" style="text-align:  justify;">
                  <div style="text-align:  justify;"><p>Interconcepts Global Resources provides a wide range of financial services ranging from Daily Savings, Loans, Investment, Cnsulting, Real Estate and agro services.
                    Our Client relationship is built on personal trust, open communication and companywide integrity. Our services distinctive; built to fit each client's financial Profile. We are open t business to both individuals and corporate bodies
                    as well as private and government parastatals.
                  </p></div>
              </div>
              <div class="mb-3" style="text-align:  justify;">
                  <div style="text-align:  justify;"><p>We thank you for taking a moment to glance through our philosophy and approach.
                    We invite you to contact Interconcepts Global Resources and avail us the opportunity to help you attain your financial goals.
                  </p>
                  </div>
              </div>
              <!-- <div class="mb-3" style="text-align:  justify;">
                  <div style="text-align:  justify;"><p> Our attitude toward service and helping others makes our culture inviting and fun. We are always looking for the brightest and most talented people around to join us in servicing our clients and community.</p>
                  </div>
              </div> -->
                  
          </div>   

            </div>
        </div>
   
</section>

<section id="services" class="services">
    <div class="container">
  
      <div class="section-title ">
        <h2 class="mb-4">Our Core Values</h2>
        <h6 class="lead mb-3">We take pride in our core values. These values underlie our work, how we interact with each other, and which strategies we employ to fulfill our mission.</h6>
        <div class="row">
          <div class="col-lg-4 col-sm-12 mb-2 mb-lg-0">
              <a href="#" class="d-block"> <img src="{% static 'img/Code Version Control.png' %}" alt="" class="img-fluid mb-2"></a>
          </div>
          <div class="col-lg-4 col-sm-6 mb-2 mb-lg-0">
              <h4 class="title m-4"><i style="color:  #6832D4;" class="fas fa-check-square mr-2" ></i>Customer Focus</h4> 
              <h4 class="title m-4"><i style="color:  #6832D4;" class="fas fa-check-square mr-2" ></i>Professionalism</h4>
              <h4 class="title m-4"><i style="color:  #6832D4;" class="fas fa-check-square mr-2" ></i>Integrity</h4>         
              <h4 class="title m-4"><i style="color:  #6832D4;" class="fas fa-check-square mr-2" ></i>Accountability</h4>              
         </div>
          <div class="col-lg-4 col-sm-6 mb-2 mb-lg-0">
            <h4 class="title m-4"><i style="color:  #6832D4;" class="fas fa-check-square mr-2" ></i>Team Spirit</h4>           
            <h4 class="title m-4"><i style="color:  #6832D4;" class="fas fa-check-square mr-2" ></i>Mutual Respect</h4>              
            <h4 class="title m-4"><i style="color:  #6832D4;" class="fas fa-check-square mr-2" ></i>Excellence</h4>             
         </div>
          
        </div>
        
      </div>
    </div>
  </section>

  <!-- footer section -->

  <div class="bg-purple">
    <div class="container py-5">
      <div class="row pt-5 ">
        <div class="col-6 col-md-6 col-lg-3 mb-5">
          <h3 class="font-weight-bold mb-4">Interconcepts Global Resources</h3>
          <p class="semi-bold"> Created to make lives easier. </p>
          <div class="social-icons mt-4">
             <a href="#"><i class="lni lni-facebook-filled"></i></a> 
             <a href="#"><i class="lni lni-twitter-filled"></i></a>
             <a href="#"><i class="lni lni-instagram-filled"></i></a>
            <a href="#"><i class="lni lni-github-original"></i></a>
           </div>
        </div>
        <div class="  col-6 col-md-6 col-lg-3 mb-5">
          <h6 class="mb-4 font-weight-bold">Services</h6>
          <ul class="list-unstyled bb m-0">
            <li><a href="">Loan</a></li>
            <li><a href="">Investment</a></li> 
            <li><a href="">Real Estate</a></li>
            <li><a href="">Target Savings</a></li>
          </ul>
        </div>
        <div class=" col-6 col-md-6 col-lg-3 mb-5">
          <h6 class="mb-4 font-weight-bold">Company</h6>
          <ul class="list-unstyled bb m-0">
            <li><a href="">About Us</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Investors</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-6 col-lg-3 mb-5  ">
          <h6 class="mb-4 font-weight-bold">Privacy & Terms</h6>
          <ul class="list-unstyled bb m-0">
            <li><a href="">Community</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Copyright</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr style="color: #fff; height: 3px;">
    <div class="py-3 ">
      <div class="container">
        <p class="m-0 text-center small medium-500 bb">Copyright &copy Interconcepts Global Resources </a></p>
      </div>
    </div>
    </div>

  


<script src="{% static 'js/main.js' %}"></script>

</body>
</html>