{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" type="text/css" href="{%static 'css/index.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css"
    integrity="sha256-PtBWX+v2TI0iuYI3rZrQft5kfd3ZkdPd8iVMZoE1rxE=" crossorigin="anonymous" />


    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  
    <title>Interconcept Global Resources Nigeria Ltd</title>
  
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    
</head>
<body>
    {% include 'partials/_navbar.html' %}
    {% block content%}


    {% endblock %}
    {% include 'partials/_footer.html' %}

    <script>
        let scroll,
            nav = document.querySelector('.navbar')
        window.addEventListener('scroll',(e) => {
            // console.log(nav.classList,window.pageYOffset)
            window.pageYOffset > '90' ? nav.classList.add('fixed') : nav.classList.remove('fixed');
        })
    </script>

    <script src="{% static 'js/script.js' %} "></script>
    
</body>

    
